{% if current_weather %}
  <h1>{{ city }}</h1>
  <h2>{{ current_weather.temperature }}</h2>
  <p>{{ current_weather.description }}</p>
  <img
    src="http://openweathermap.org/img/w/{{ current_weather.icon }}.png"
    alt=""{{ current_weather.description }}
  >
{% endif %}

{% if daily_forecasts %}
  <h2>7-day Forecast</h2>
  <div class="forecast-container">
    {% for forecast in daily_forecasts %}
      <div class="forecast">
        <h3>{{ forecast.day }}</h3>
        <p>{{ forecast.min_temp }}°C-{{ forecast.max_temp}}°C</p>
        <p>{{ forecast.description }}</p>
        <img
          src="http://openweathermap.org/img/w/{{ forecast.icon }}.png"
          alt=""{{ forecast.description }}
        >
      </div>
    {% endfor %}
  </div>
{% endif %}
