html, body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

nav {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
}

nav h1 {
  font-size: 24px;
  margin: 0;
}

main {
  padding-top: 20px;
}

form {
  text-align: center;
}

input[type="text"] {
  padding: 10px;
  margin: 10px 5px 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.comparison-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 0 20px;
}

.city-container {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 30px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: calc(50% - 10px); /* Two containers side-by-side with a small margin */
  margin-bottom: 20px; /* Add space between containers */
}

.city-container h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.city-container h2 {
  font-size: 18px;
  margin: 20px inherit;
}

.city-container p {
  font-size: 16px;
  margin-top: 10px;
}

.city-container .daily-forecast {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .comparison-container {
    flex-direction: column; /* Stack the containers vertically on small screens */
    padding: 0;
  }
  .city-container {
    width: 100%; /* Full width for city containers on small screens */
  }
}
